<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.xnc.intellij.plugin.activityanchor">

    <application>
        <activity
                android:name="io.xnc.intellij.plugin.activityanchor.Anchor"
                android:exported="true"/>
    </application>

</manifest>